body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main[data-theme='light'].App,
:root {
  /*Fonts*/
  --font-primary: 'Montserrat';
  --font-secondary: 'Space Grotesk';
  --font-backup: 'Arial';

  /**/
  --color-text-reverse: #3e649b;
  
  --color-interaction-primary: #ffffff;
  --color-interaction-primary-hover: #eff4fa;
  --color-interaction-primary-active: #eff4fa;
  --color-interaction-primary-disabled: #eff4fa;
  --color-interaction-primary-alt: #201b1b;
  --color-interaction-primary-alt-hover: #111111;
  --color-interaction-primary-alt-active: #332c2c;
  --color-interaction-primary-alt-disabled: #353535;


}

ul {
  list-style:none; /*No dots!*/
}

select{
  direction: rtl;
}
select option{
  direction: ltr;
}

form select#exercices  {
  margin-left: 2px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  color: #3e649b;
  font-size: 16px;
  font-family: 'Montserrat';
  padding: 5px 10px;
  max-width: min(calc(100vw - 11em), 35em);
  border: none;
}

ul.choiseList { /*Control the OURSIDE of the BUTTONS*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px 1em;
  margin: 5px 0 5px; 
}

div.choiceQuestions { /*Problem and explaination*/
  padding: 1em;
  background: #ffffff;
  margin-top: 30px;
  margin-right: 40px;
  border-radius: 20px;
  font-size: 16px;
}

ul.choiseList Button { /*Control the CONTENT of the BUTTONS*/
  padding: 1em 3em 1em 1em;
  min-width: 10em;
  margin: 5px 0 5px; 
  display: flex;
  justify-content: flex-start;
  
  border: none;
  background-color : white;
  border-radius : 10px;
  transition-duration: 0.2s;
}

/*Control the CONTENT of the BUTTONS (Only if is Hovered/Focus/Disabled)*/
ul.choiseList Button:hover, ul.choiseList Button:focus, ul.choiseList Button:disabled { 
  border: none;
  color: #3e649b;
  
}

/*Control the CONTENT of the BUTTONS!*/

ul.choiseList Button[mymode="Correct"] {
  background-color : #ffffff;
  box-shadow: 0px 2px 5px #67ba0f;
  color: #3e649b;
}

ul.choiseList Button[mymode="Incorrect"] {
  background-color : #eff4fa;
  box-shadow: 0px 2px 5px #eb5e47;
  color: #3e649b;
  /*font-style: italic;*/ /*Not used since Procyan text overwrites font attributes*/
}





