body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main[data-theme='light'].App,
:root {
  /*Fonts*/
  --font-primary: 'Montserrat';
  --font-secondary: 'Space Grotesk';
  --font-backup: 'Arial';

  /**/
  --color-text-reverse: #3e649b;
  
  --color-interaction-primary: #ffffff;
  --color-interaction-primary-hover: #eff4fa;
  --color-interaction-primary-active: #eff4fa;
  --color-interaction-primary-disabled: rgba(176, 176, 176, 0.5);
  --color-interaction-primary-alt: #201b1b;
  --color-interaction-primary-alt-hover: #111111;
  --color-interaction-primary-alt-active: #332c2c;
  --color-interaction-primary-alt-disabled: #353535;
}

ul {
  list-style:none;
}

ul.choiseList {
  list-style:none;
}